.chat {
  position: relative;

  display: grid;
  grid-template-rows: 90px auto 125px;
  box-sizing: border-box;
  width: 100%;
  max-width: 900px;
  height: 100vh;
  margin: auto;
  overflow: hidden;

  font-family: 'Source Sans Pro', sans-serif;

  border: 1px solid var(--border-color);
  background-color: #fff;
}
