:root {
  --border-color: #eeeeee;
  --bg-color: #fff;

  --message-own-bg-color: #eceff1;
  --message-users-bg-color: #42b0f8;
  --message-own-color: #1a1a1a;
  --message-users-color: #fff;
}

body {
  background-image: url(https://www.tinybirdgames.com/wp-content/uploads/2017/04/tinybirdgames_telegram_background_01.jpg);
}
